
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div asp-validation-summary="All"> </div>
	<div class="agileits-top">
		<div>
			<p>
				Reset password link has been send to your email, please check your inbox
			</p>
		</div>
		<div>
			<a href="https://mail.google.com/" target="_blank">Your inbox</a>
		</div>
	</div>
</div>
